<ul class='c-subscribe-list'>
  <li class='c-subscribe-list__item'>
    <a href='https://podcasts.apple.com/us/podcast/gifted-slackers-podcast/id1207663919' class='c-subscribe-list__link' target='_blank' rel='noopener'>
      <img class='c-subscribe-list__icon' src='{{ asset 'icons/apple.svg' }}' alt='Apple Podcasts'>
      <span class='c-subscribe-list__name'>Apple Podcasts</span>
    </a>
  </li>

  <li class='c-subscribe-list__item u-hidden'>
    <a href='#' class='c-subscribe-list__link' target='_blank' rel='noopener'>
      <img class='c-subscribe-list__icon' src='{{ asset 'icons/overcast.svg' }}' alt='Overcast'>
      <span class='c-subscribe-list__name'>Overcast</span>
    </a>
  </li>

  <li class='c-subscribe-list__item'>
    <a href='https://open.spotify.com/show/1CnnlZmwl9CO0rq70k80L8?si=UXnkL-KxT0CMTPA_g8-7uQ' class='c-subscribe-list__link' target='_blank' rel='noopener'>
      <img class='c-subscribe-list__icon' src='{{ asset 'icons/spotify.svg' }}' alt='Spotify'>
      <span class='c-subscribe-list__name'>Spotify</span>
    </a>
  </li>

  <li class='c-subscribe-list__item u-hidden'>
    <a href='#' class='c-subscribe-list__link' target='_blank' rel='noopener'>
      <img class='c-subscribe-list__icon' src='{{ asset 'icons/pocketcasts.svg' }}' alt='Pocket Casts'>
      <span class='c-subscribe-list__name'>Pocket Casts</span>
    </a>
  </li>

  <li class='c-subscribe-list__item u-hidden'>
    <a href='#' class='c-subscribe-list__link' target='_blank' rel='noopener'>
      <img class='c-subscribe-list__icon' src='{{ asset 'icons/castro.svg' }}' alt='Castro'>
      <span class='c-subscribe-list__name'>Castro</span>
    </a>
  </li>

  <li class='c-subscribe-list__item u-hidden'>
    <a href='#' class='c-subscribe-list__link' target='_blank' rel='noopener'>
      <img class='c-subscribe-list__icon' src='{{ asset 'icons/breaker.svg' }}' alt='Breaker'>
      <span class='c-subscribe-list__name'>Breaker</span>
    </a>
  </li>

  <li class='c-subscribe-list__item u-hidden'>
    <a href='#' class='c-subscribe-list__link' target='_blank' rel='noopener'>
      <img class='c-subscribe-list__icon' src='{{ asset 'icons/googlepodcasts.svg' }}' alt='Google Podcasts'>
      <span class='c-subscribe-list__name'>Google Podcasts</span>
    </a>
  </li>

  <li class='c-subscribe-list__item u-hidden'>
    <a href='#' class='c-subscribe-list__link' target='_blank' rel='noopener'>
      <img class='c-subscribe-list__icon' src='{{ asset 'icons/radiopublic.svg' }}' alt='RadioPublic'>
      <span class='c-subscribe-list__name'>RadioPublic</span>
    </a>
  </li>

  <li class='c-subscribe-list__item u-hidden'>
    <a href='#' class='c-subscribe-list__link' target='_blank' rel='noopener'>
      <img class='c-subscribe-list__icon' src='{{ asset 'icons/rss.svg' }}' alt='RSS Feed'>
      <span class='c-subscribe-list__name'>RSS</span>
    </a>
  </li>
  
  <li class='c-subscribe-list__item '>
    <a href='https://soundcloud.com/giftedslackerspodcast' class='c-subscribe-list__link' target='_blank' rel='noopener'>
      <img class='c-subscribe-list__icon' src='{{ asset 'icons/Soundcloud-Icon.svg' }}' alt='SoundCloud'>
      <span class='c-subscribe-list__name'>Soundcloud</span>
    </a>
  </li>
   <li class='c-subscribe-list__item '>
    <a href='https://www.stitcher.com/podcast/disfigured-media/gifted-slackers-podcast' class='c-subscribe-list__link' target='_blank' rel='noopener'>
      <img class='c-subscribe-list__icon' src='{{ asset 'icons/stitcher-logo.svg' }}' alt='Stitcher'>
      <span class='c-subscribe-list__name'>Stitcher</span>
    </a>
  </li>
  
</ul>